/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body{
overflow-x: hidden;
background:#FFFFFF;
}

a{
transition: 0.5s !important;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
p{
    margin: 0;
        font-family: 'Inter', sans-serif; 
}



.back-to-top {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -100px;
    bottom: 15px;
    z-index: 996;
    background: transparent;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    transition: all 0.4s;
    border: 1px solid #523c0a;
    top: -50px;
        background: white;
}

.back-to-top i {
font-size: 28px;
color: #A410FF;
line-height: 0;
}


.back-to-top:hover {
background: #45086A;
border: 1px solid transparent;
color: #fff !important;
}
.back-to-top i:hover{
    color: #fff !important;

}


div#back {
position: relative;
}


a.back-to-top.d-flex.align-items-center.justify-content-center.active {
text-decoration: none;
}

.back-to-top.active {
visibility: visible;
opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*#header.header-transparent {
  background: transparent;
}*/

#header.header-scrolled {
background: #000;
height: 70px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

#header.header-scrolled a.nav-link.scrollto {
color: #ffffff;
}



#header.header-scrolled .logo a  {
color: #ffffff;
}

/*
#header.header-scrolled a.log-btn{
 color: #000;
}

#header.header-scrolled .social1{
  border: 2px solid #000;
}*/

#header .logo {
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 130%;
margin: 0;
padding: 0;
letter-spacing: 0.03em;
text-transform: uppercase;
/*    margin-right: 132px;*/
    color: #FFFFFF;

}

.mianbutton {
    display: flex;
    align-items: center;
}

#header .logo a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 25px;
}


/*#header .logo img {
  max-height: 40px;
}
*/
#header .social-links {
margin: 0 0 0 20px;
display: inline-flex;
align-items: center;
justify-content: center;
}

#header .social-links a {
color: #555186;
transition: 0.3s;
line-height: 0;
margin-left: 15px;
}

#header .social-links a i {
line-height: 0;
}

#header .social-links a:hover {
color: #1bb1dc;
}

@media (max-width: 992px) {
  #header .social-links {
    margin: 0 15px 0 0;
  }
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
padding: 0;
/*margin-right: 66px;*/
}

.navbar ul {
margin: 0;
padding: 0;
display: flex;
list-style: none;
align-items: center;
}

.navbar li {
position: relative;
}



.navbar a i,
.navbar a:focus i {
font-size: 12px;
line-height: 0;
margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
color: #0DC9B2;
}


a.nav-link.scrollto:hover {
color: #0DC9B2;
}

.navbar .dropdown ul {
display: block;
position: absolute;
left: 24px;
top: calc(100% + 30px);
margin: 0;
padding: 10px 0;
z-index: 99;
opacity: 0;
visibility: hidden;
background: #0DC9B2;
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(15.5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: 0.3s;
}


.navbar .dropdown ul li {
min-width: 200px;
}

.navbar .dropdown ul a {
padding: 10px 0px;
text-transform: none;
font-weight: 400;
    margin-left: 15px;
        margin-right: 15px;
}

.navbar .dropdown ul a i {
font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
color: #1bb1dc;
}

.navbar .dropdown:hover>ul {
opacity: 1;
top: 100%;
visibility: visible;
}

.navbar .dropdown .dropdown ul {
top: 0;
left: calc(100% - 30px);
visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
opacity: 1;
top: 0;
left: 100%;
visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
color: #ffffff;
font-size: 28px;
cursor: pointer;
display: none;
line-height: 0;
transition: 0.5s;
    position: fixed;
    right: 25px;
    top: 12px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle.bi-x {
color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
    position: fixed;
    top: 45px;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: 0 !important;
    width: 100%;
    padding-top: 18px;
    background: #0dc9b2;
    transition: 0.4s;
    right: 0;
}

.navbar-mobile .mobile-nav-toggle {
    /*position: absolute;
    top: 32px;
    right: 25px;*/
}

.navbar-mobile ul {
display: block;
position: absolute;
top: 200px;
right: 15px;
bottom: 15px;
left: 15px;
padding: 10px 0;
/*background-color: #fff;*/
overflow-y: auto;
transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
padding: 10px 20px;
font-size: 15px;
color: #413e66;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
color:#ffffff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
margin: 15px;
}

.navbar-mobile .dropdown ul,
.navbar-mobile .dropdown .dropdown ul {
position: static;
display: none;
margin: 10px 20px;
padding: 10px 0;
z-index: 99;
opacity: 1;
visibility: visible;
background: #0dc9b2;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li,
.navbar-mobile .dropdown .dropdown ul li {
min-width: 200px;
}

.navbar-mobile .dropdown ul a,
.navbar-mobile .dropdown .dropdown ul a {
padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i,
.navbar-mobile .dropdown .dropdown ul a i {
font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a,
.navbar-mobile .dropdown .dropdown ul a:hover,
.navbar-mobile .dropdown .dropdown ul .active:hover,
.navbar-mobile .dropdown .dropdown ul li:hover>a {
color: #1bb1dc;
}

.navbar-mobile .dropdown>.dropdown-active,
.navbar-mobile .dropdown .dropdown>.dropdown-active {
display: block;
}

a.sign-btn:hover {
       background: #0BB8A3;
    border-color: #0bb8a3;
}
a.log-btn:hover {
    color: #0DC9B2;
    border-color: #0DC9B2;
}
select.selectpicker, select#format {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #05040E;
    border: none;
}

.allbtn:hover{
        background: #0BB8A3 !important;
}



/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
#nav-tab a.nav-link {
font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
color: #717171;
opacity: 0.6;
}


#nav-tab a.nav-link.active{
color: #000;
border-bottom: 1px solid black;
}

#nav-tab a.nav-link:hover{
color: #000;
border-bottom: 1px solid black;
}


ul#nav-tab {
border-bottom: 1px solid  #717171;

}


.feature-tab-info {
background: #DBA11C;
padding: 20px;
margin-top: 26px;
}

.feature-tab-info p{
font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
text-transform: uppercase;
color: #FFFFFF;
}

.feature-tab-info h6{
font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.feature-tab-info span{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #000000;
}

.tebbing {
display: flex;
justify-content: space-between;
align-items: center;
}



/*section#trand .col-lg-4.col-md-5 {
}*/

.trandline {
text-align: center;
text-align: center;
padding-left: 320px;
margin-top: -100px;

}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
/* background: #fff;*/
transition: all 0.5s;
z-index: 997;
height: 90px;
}
div#mainheader {
    justify-content: space-between;
}
nav#navbar ul li:first-child a {
    padding-left: 0 !important;
}
nav#navbar ul li:last-child a {
    padding-right: 0 !important;
}
.social2 {
    padding: 0 40px;
        padding-right: 40px;
}

.navbar a,
.navbar a:focus {
display: flex;
justify-content: space-between;
/*padding: 10px 0 10px 39px;*/
    padding: 10px 25px;
text-transform: capitalize;
white-space: nowrap;
transition: 0.3s;
align-items: center;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color:#FFFFFF;
    text-decoration: none;
}




.language {
/*padding:0 50px;*/
}

.language p {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
align-items: center;
display: flex;
letter-spacing: 2px;
color: #05040E;
margin: 0;
}


a.sign-btn{
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}


a.log-btn  {
    color: #0DC9B2;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
        border: 1px solid transparent;

}



/*--------------------------------------------------------------
# HOME PAGE HERO SECTION
--------------------------------------------------------------*/



#hero {
    background: url(../image/bg.png);
    width: 100%;
    position: relative;
       padding: 250px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .intro-info h1{
font-weight: 400;
font-size: 90px;
color: #FFFFFF;
font-family: 'Aldrich', sans-serif;
    margin: 0;

}
.color{
    color: #A058FF;
}

.introtext p{
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
font-family: 'Inter', sans-serif;
    text-align: left;
    margin-bottom: 0;
}
.introtext {
    text-align: right;
    margin-top: 50px;
}


a.allbtn{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #0DC9B2;
    border-radius: 6px;
    padding: 12px 69px;
    display: inline-block;
        cursor: pointer;
}

section.stocktrading {
    padding: 100px 0;
}
.title h1 {
    font-weight: 400;
    font-size: 48px;
    color: #2D2F3E;
        line-height: 55px;
}
.title p{
    font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #50515E;
    padding: 25px 0;
}

.stockbox {
    margin-bottom: 50px;
}
.stockbox h1 {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 10px;
}

section.simply {
    padding: 150px 0;
    background:  url(../image/a7.png);
    background-repeat: no-repeat;
       background-position: right top;
}
.simply-title.title h1 {
    color: white;
        margin-bottom: 25px;
}
.simply-title.title p {
    padding: 0;
    margin-bottom: 25px;
    color: white;
}
.corresponding {
    padding-top: 250px;
}
.corresponding-title.title h1 {
    text-align: center;
    color: white;
        padding-bottom: 50px;
}

div#owl-carousel button.owl-dot.active span {
    width: 40px !important;
    height: 14px !important;
    background: #A058FF !important;
}
div#owl-carousel   .owl-dot span {
    width: 14px !important; 
    height: 14px !important; 
    }
   div#owl-carousel   .owl-dots {
    margin-top: 25px;
}
.simply-title.title ul {
    padding: 0;
    list-style: none;
}
.simply-title.title ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
    display: flex;
}
span.check {
    margin-right: 10px;
    color: #0DC9B2;
}
section.debit {
    padding-top: 150px;
}
section.debit .row {
    align-items: center;
}
.d-img {
    text-align: right;
}

.pricing-plans {
    padding: 80px 0;
    background-image: url(../image/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.pricing-card {
    position: relative;
    padding: 40px;
    background-color: #FFF;
    box-shadow: 0px 10px 16px rgba(0, 40, 35, 0.2);
border-radius: 10px;
    /* box-shadow: 0 0 32px transparent; */
}
.pricing-card .price {
    position: relative;
        font-family: 'Oswald', sans-serif;
    color: #2D2F3E;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 100px;
    padding-bottom: 25px;
    padding-top: 12px;
}
.pricing-card ul.features {
    list-style: none;
    padding: 0;
}
ul.features ul {
    display: flex;
    list-style: none;
    padding: 0;
/*    justify-content: space-between;*/
}
.pricing-card .features li {
    
     font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 16px;
    color: #50515E;
    display: flex;
    align-items: center;
}

.pricing-card .features li strong {
        font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #50515E;
    padding-left: 10px;
}
.pricing-card .cta-btn {
    padding: 13px 85px;
    background: #A410FF;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    border: none;
}
.pricing-card i{
    color: #0DC9B2;
    font-size: 14px;
}

.pricing-card:hover {
    background-color: #0DC9B2;
    /* box-shadow: 0 0 32px #171717; */
    transform: translateY(-50px) scale(1.02);
    transition: all 0.5s ease;
}
.pricing-card.basic:hover h4, .pricing-card.basic:hover p, .pricing-card.basic:hover li, .pricing-card.basic:hover strong {
    color: #50515E;
}
.pricing-card.basic:hover i{
 color: #50515E;
}
.pricing-card.basic:hover a{
     background: #0BB8A3 !important
}

.heading h4 {
    font-size: 24px;
    font-weight: 400;
    color: #2D2F3E;
}

.bill-customor {
       padding: 100px 0 0;
    background-image: url(../image/a9.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bill-title.title h1 {
    color: #FFFFFF;
    font-weight: 400;
}
.billbutton a {
    font-size: 16px;
    padding: 12px 27px;
    width: 100%;
    font-weight: 400;
}
div#thiredbtn a {
    width: 48%;
    margin-top: 15px;
}
.billimg {
    margin-top: 25px;
}

.bill-crypto {
       padding: 100px 0px;
}

.starttrading {
       padding: 150px 0 ;
    background-image: url(../image/a12.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.start-title.title h1 {
    font-size: 90px;
    color: white;
}
.start-title.title p {
    color: #eaeaea;
    padding: 50px 200px;
}



footer#footer {
background: #000000;
padding-top: 100px;
    padding-bottom: 0px;
}

.footermail {
margin-bottom: 15px;
}

.footer-info img {
margin-bottom: 30px;
}

.footer-info .footermail a{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
text-decoration: none;
}


.footer-info p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #FFFFFF;
}


.footer-links h4{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 150%;/*
display: flex;
align-items: center;*/
color: #FFFFFF;
}


.footer-links ul li {
list-style: none;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #B5B5B5;
    padding: 10px 0 0 0;
        cursor: pointer;
}
.footer-links ul li a{
 list-style: none;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #B5B5B5;
cursor: pointer;
text-decoration: none;

}
.footer-links ul li a:hover, .logotext p a:hover, .footermail a:hover{
color:#0BB8A3;
}

.footer-links ul {
padding: 0;
}


.logotext p {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;/*
display: flex;
align-items: center;*/
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 0;
}

.logotext p a{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #FFFFFF;
margin: 0;
    text-decoration: none;
}
.priv {
display: flex;
justify-content: space-between;
}

.footer-warning h6{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-warning p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #B5B5B5;
}

.copyright p{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #FFFFFF;
}
.copyright {
        margin-top: 50px;
    border-top: 1px solid #494949;
    padding: 25px 0;
}


div#footerlogo {
border-top: 1px solid #494949;
padding: 30px 0;
}


div#footer1 {
padding-bottom: 50px;
}

div#footer3 {
padding: 10px 0 0px 0;
}
.col-lg-2.mobile2 {
display: none;
}


img.ipedmain {
display: none;
}

.mobileshow {
    display: none;
}
.pricimg-title.title {
    margin-bottom: 50px;
}
.footermobile {
    display: none;
}
.footerdektop {
    display: block;
}







/*===========================Responsive css============================*/

@media (min-device-width: 100px) and (max-device-width: 767px){

    img{
        max-width: 100%;
    }

p{
    font-size: 18px;
}
    #header{
/*            padding: 0 15px;*/
    height: 50px;
        background: #000;
    }
    .navbar {
    padding: 0;
    margin-right: 0;
}
section#hero {
    padding-right: 15px;
    padding-left: 15px;
    padding: 100px 0;
}
.introtext {
    text-align: left;
    margin-top: 25px;
}

.back-to-top{
/*      right: -7px;*/
      display: none !important
}

header#header .container {
    justify-content: space-between;
}
header#header .me-auto {
    margin-right: unset!important;
}
.navbar .mobileshow {
    opacity: 0;
}
.mobileshow {
    position: absolute;
/*    padding: 25px;*/
    width: 100%;
    top: 0;
    background: #000000;
    border-radius: 0px;
    display: block;
}
.navbar-mobile .mobileshow {
    opacity: 1;
}
.mobileshow .social2 {
    display: block;
   margin-bottom: 15px;
}
.social2 {
    padding: 0 10px;
    padding-right: 10px;
}
.mobileshow .social1 {
    display: block;
    margin-bottom: 10px;
}
.mobileshow .language {
    display: block;
/*    padding: 6px 20px;*/
}
nav#navbar {
    left: -260px;
}
#header.header-scrolled{
        background: #000;
    height: 50px;
}
select#format {
    padding: 15px;
    width: 100%;
    background: #0dc9b2;
    color: white;
/*  margin-bottom: 15px;*/
}



#header.header-transparent {
    background: #01090B;
}


#hero .intro-info h1{
    font-size: 32px;
    padding-bottom: 15px;
    padding-top: 0;
    line-height: 34px;
}
.herobtn {
    padding: 25px 0;
}

.social1{
display: none;
}
.social2{
  display: none;
}

.language {
    display: none;
}

.start-title.title p {
    color: #eaeaea;
    padding: 15px;
}

section.stocktrading {
    padding: 50px 0;
}
.title h1{
        font-size: 32px;
            line-height: 42px;
}
.title p{
        font-size: 16px;
}
a.allbtn{
     font-size: 16px;
}
.stockbox {
    margin-bottom: 0;
    margin-top: 40px;
}
section.simply{
    padding: 50px 0;
}
.corresponding {
    padding-top: 100px;
}
section.debit {
    padding-top: 50px;
}
.simply-title.title ul li{
    font-size: 16px;
}
.pricing-plans{
    padding: 50px 0 ;
}

.pricing-card.basic {
    margin-bottom: 25px;
}
.pricing-card .price{
    font-size: 50px;
    line-height: 80px;
    padding-bottom: 15px;
    padding-top: 0px;
}
.bill-customor{
    padding: 50px 0;
}
.bill-title.title {
    margin-bottom: 25px;
}
.billbutton {
    margin-bottom: 25px;
}
div#thiredbtn a {
    width: 100%;
    margin-top: 0;
}
.bill-crypto,.starttrading {
    padding: 50px 0px;
}
.start-title.title h1 {
    font-size: 33px; 
    }
    footer#footer{
        padding-top: 50px;
    }


.footermobile {
    display: block;
}
.footerdektop {
    display: none;
}

.priv {
    display: block;
    justify-content: space-between;
}
.footer-info img {
    margin-bottom: 21px;
}
div#footer1 {
    padding-bottom: 25px;
}
.logoimg {
    margin-top: 25px;
}
.logotext {
    padding-bottom: 15px;
}
.footer-warning {
    margin-bottom: 15px;
}



}


@media (min-device-width: 768px) and (max-device-width: 1024px) {
  

  p{
    font-size: 18px;
}
    #header{
            padding: 0 15px;
    }
    .navbar {
    padding: 0;
    margin-right: 0;
}
section#hero {
    padding-right: 15px;
    padding-left: 15px;
}

.back-to-top{
/*      right: -7px;*/
      display: none !important
}

header#header .container {
    justify-content: space-between;
}
header#header .me-auto {
    margin-right: unset!important;
}

#header.header-transparent {
    background: #01090B;
}


#hero .intro-info h1{
    font-size: 32px;
    padding-bottom: 15px;
    padding-top: 0;
    line-height: 34px;
}
.herobtn {
    padding: 25px 0;
}

.social1{
display: none;
}
.social2{
  display: none;
}

.language {
    display: none;
}


.footermobile {
    display: block;
}
.footerdektop {
    display: none;
}


}



